*.pdf
*.out
*.nav
*.log
*.toc
*.gz
*.snm
*.aux
*checkpoints
*cache*
images
*.pyc
Untitled*
Forced_response_criticaldamped_natural.png
Forced_response_criticaldamped_over.png
Forced_response_criticaldamped_under.png
Forced_response_overdamped_natural.png
Forced_response_overdamped_over.png
Forced_response_overdamped_under.png
Forced_response_special_natural.png
Forced_response_special_over.png
Forced_response_special_under.png
Forced_response_underdamped_natural.png
Forced_response_underdamped_over.png
Forced_response_underdamped_under.png
Free_response_criticaldamped.png
Free_response_overdamped.png
Free_response_special.png
Free_response_underdamped.png
